@charset "utf-8";
body {
background: #42413C;
margin: 0;
padding: 0;
color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.4;s
}


ul, ol, dl {
padding: 0;
margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Verdana, Geneva, sans-serif;
}
a img {
border: none;
}


a:link {
color: #42413C;
	text-decoration: underline;
}
a:visited {
color: #42413C;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	text-align: center;
	color: #181A1F;
}


.container {
	width: 960px;
	background-color: #FCFBF3;
	background-image: url(sidebar_bg.png);
	background-repeat: repeat-y;
	background-position: -10px;
	height: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}


.header {
	font-size: 18px;
	text-align: center;
	background-image: url(titlebar_bg.png);
	height: 43px;
	padding-top: 5px;
}

.sidebar1 {
	float: left;
	width: 180px;
	padding-bottom: 10px;
	height: auto;
	background-repeat: repeat-y;
}
.content {
	min-width: 700px;
	max-width: 750px;
	float: left;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-left: 10px;
}


.content ul, .content ol {
padding: 0 15px 15px 40px;
}
input {
	border: 1px solid;
	margin: 2px;
}
.example_code {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	background-color: #FFC;
	float: left;
	width: auto;
	border: 1px dashed #2D3544;
	margin-left: 20px;
	padding: 8px;
	margin-right: 20px;
	clear: none;
	page-break-after: auto;
	page-break-before: auto;
	display: block;
}
.example_code_comment {
	font-style: italic;
	color: #666;
}

table.elements {
	list-style: none;
width: 730px;
padding: 0px;
margin: 10px;
	background-color: #666;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

table.elements th {
	background-color:#E2E2E2;
color:#666;
	text-align:left;
}
table.elements tr {
	height: 24px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image:url(row_bg.png);
}
table.elements td {

padding: 4px;
border: none;
}

.plain_text {
	font-weight:normal;
	font-size: 12px;
	line-height: 18px;
}


.version {
	font-weight:normal;
	font-size: 10px;
	line-height: 12px;
}
table.elements a {
color:#371E1E;
}

.form_element {
width: 700px;
height:320px;
float:left;

}

.form_key {
width: 300px;
float: left;
height: 28px;
}

.form_value {
width: 380px;
float: right;
height: 28px;
}

form {
	background-color:#DDE7F0;
	border: 1px solid #036;
	padding: 5px;
	min-height: 24px;
	background-image: url(form_bg.png);


}

ul.nav {
	list-style: none;
	margin-bottom: 15px;
	font-weight: bold;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #666;
}

ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	width: 160px;
	text-decoration: none;
	background-image: url(sidebar_button.png);
	background-repeat: no-repeat;
	background-position: center center;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	color: #181A1F;
	background-image: url(sidebar_button_hover.png);
	background-repeat: no-repeat;
	background-position: center center;

}


.footer {
padding: 10px 0;
background: #CCC49F;
position: relative;
clear: both;
}


.fltrt {
float: right;
	margin-left: 8px;
}
.fltlft {
float: left;
	margin-right: 8px;
}
.clearfloat {
clear:both;
height:0;
	font-size: 1px;
	line-height: 0px;
}
